{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block content %}
<div class="overlay"></div>
<div class="container main-container">
    <article class="row">
        <!-- Page Title -->
        <header class="row">
            <div class="col">
                <hr>
                <h1 class="logo-font mb-4 mt-4">Checkout</h1>
                <hr>
            </div>
        </header>
        <!-- Checkout elements : Order Summary and Order Form -->
        <section class="row">
            <!-- Order Summary -->
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <h5 class="text-dark">Order Summary ({{ product_count }})</h5>
                <!-- Order Items with details and subtotals -->
                <div class="row">
                    <div class="col-7">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-7">
                            <p class="my-0 small">
                                <strong>{{ item.book.author }} : {{ item.book.name }}</strong>
                            </p>
                            <p class="my-0 small text-dark">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-dark">
                                <strong>${{ item.book.price | calc_subtotal:item.quantity }}</strong>
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <!-- Order Total and Grand Total with Delivery -->
                <hr class="my-0">
                <div class="row text-black text-right">
                    <div class="col-7">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0"><strong>Grand Total:</strong></p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <!-- Order Form (Using OrderForm from checkout/forms.py) -->
            <div class="col-12 col-lg-6">
                <h5 class="text-dark">Please fill out the form below to complete your order</h5>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Order Form : User details -->
                    <fieldset class="rounded mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <!-- Order Form : Delivery information -->
                    <fieldset class="rounded mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form.phone | as_crispy_field }}
                        {{ order_form.street1 | as_crispy_field }}
                        {{ order_form.street2 | as_crispy_field }}
                        {{ order_form.city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            <!-- Order Form Actions -->
                            {% if user.is_authenticated %}
                                <!-- If user logged in : Save delivery information to profile -->
                                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <!-- If user logged out : Require login/signup for proceeding -->
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'login' %}">login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <!-- Order Form : Proceeding with payment -->
                    <fieldset>
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- Placeholder for Stripe card element -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Placeholder for form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Placeholder for client secret to pass it to the view to get payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <!-- Pre-Order information / action -->
                    <div class="submit-button text-right mt-2">
                        <!-- Reminder to grand total -->
                        <p class="text-danger my-0 mb-3">
                            <strong>Your card will be charged ${{ grand_total|floatformat:2 }}</strong>
                        </p>
                        <!-- Go back to bag to adjust content -->
                        <a href="{% url 'view_my_bag' %}" class="btn btn-lg btn-dark">
                            Adjust Bag
                        </a>
                        <!-- Send order for registration -->
                        <button id="submit-button" class="btn btn-lg btn-dark">
                            Complete Order
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </article>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

<!-- Order Form : Passing stripe keys to Javascript from Django view -->
{% block postloadjs %}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}