/* Font Style => https://fonts.google.com/specimen/Philosopher */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* General Styling */

:root {
  --darkgray: rgba(33,37,41);
  --hover-shadow: 0 0 10px black;
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  --black-text-border: -1px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1px black;
  --strong-text-shadow: 0 0 10px black, 0 0 10px black;;
  --facebook: #0b5ed7;
  --twitter: #31d2f2;
  --email: #777777;
  --whatsapp: #25d366;
}

*{
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body {
  margin: 100px 0 170px 0 !important;
  flex-wrap: wrap;
  clear: both;
}

.background {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('background.jpg');
}

header,
main{
  padding: 0 !important;
  margin: 0 !important;
}

a{
    text-decoration:none !important;
}

hr{
    margin:0;
}

.hidden{
    display:none;
}

.bold,
h1,h2,h3,h4,h5{
    font-weight: bold !important;
}

.uppercase-txt {
   text-transform: uppercase;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

hr, label,
.page-title,
h1,h2,h3,h4,h5{
    color: black;
}

p, label{
    font-size:18px;
}

.black-shadow{
    text-shadow: var(--black-text-border);
}

.btn-outline-light{
    border: 2px solid white !important;
}

/* Navbar => Source / Inspiration :
https://getbootstrap.com/docs/4.4/components/navs/
https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.logo-img {
  width: 140px;
  height: 50px;
  float: left;
  position: relative;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

/* Footer => Source / Inspiration : https://css-tricks.com/couple-takes-sticky-footer/ */

.footer {
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px rgba(200, 200, 200, 0.4);
  -moz-box-shadow: 8px 0 6px 2px rgba(200, 200, 200, 0.4);
  box-shadow: 0 8px 6px -6px black;
  display: block;
  position: fixed;
  padding: 0.5rem 0 0.5rem 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  font-size: 14px !important;
  opacity: 1 !important;
  color: black;
  text-align: center;
  margin: auto;
  margin: auto;
}

.footer p a {
  color: black !important;
}

/* Footer Social Sharing buttons => Source / Inspiration : https://sharingbuttons.io/ */

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial,sans-serif';
  border: 0.1em solid black;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: black;
  margin: 0 0.5em 0 0.5em;
}

.resp-sharing-button__icon {
  fill: black;
  stroke: none;
}

.resp-sharing-button__icon svg {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button svg {
  margin: 0;
  vertical-align: middle;
}

.facebook:hover,
.facebook:active {
  background-color: var(--facebook);
  border-color: var(--facebook);
}

.twitter:hover,
.twitter:active {
  background-color: var(--twitter);
  border-color: var(--twitter);
}

.email:hover,
.email:active {
  background-color: var(--email);
  border-color: var(--email);
}

.whatsapp:hover,
.whatsapp:active {
  background-color: var(--whatsapp);
  border-color: var(--whatsapp);
}


/* Handling Resize */

@media screen and (max-width: 991.5px) {
    .logo-img{
        margin:0px 10px 0px 5px !important;
    }

    body {
      margin: 0 0 170px 0 !important;
    }

    nav{
        margin-bottom: 2rem !important;
    }

    .navbar {
      position: static;
    }
}

@media screen and (max-width: 500px) {

}