{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container main-container">
        <article>
            <!-- Page Title = Site Title as Home page -->
            <header>
                <div class="row page-title mb-3">
                </div>
            </header>
            <!-- Site Objective & Quick links to accessible pages based on login status -->
            <section>

            </section>
        </article>
    </div>
</main>
{% endblock content %}