<!-- Navbar for books -->
<div class="collapse navbar-collapse" id="books-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home Page -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 bold"
               href="{% url 'home' %}" id="home-link"
               aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <!-- All Books with sorting options -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 bold" href="#" id="all-books-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=book_depository_stars&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'books' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>
        <!-- Books of Category 'Crime-Thriller' -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 bold"
               href="{% url 'books' %}?category=Crime-Thriller" id="crime-thriller-link"
               aria-haspopup="true" aria-expanded="false">
                Crime-Thriller
            </a>
        </li>
        <!-- Books of Category 'Comics-Manga' -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 bold"
               href="{% url 'books' %}?category=Comics-Manga" id="comics-manga-link"
               aria-haspopup="true" aria-expanded="false">
                Comics-Manga
            </a>
        </li>
        <!-- Books of Category 'Poetry-Drama' -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black bold"
               href="{% url 'books' %}?category=Poetry-Drama" id="poetry-drama-link"
               aria-haspopup="true" aria-expanded="false">
                Poetry-Drama
            </a>
        </li>
        <!-- Books of Category 'SciFi-Fantasy-Horror' -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black bold"
               href="{% url 'books' %}?category=SciFi-Fantasy-Horror" id="scifi-fantasy-horror-link"
               aria-haspopup="true" aria-expanded="false">
                SciFi-Fantasy-Horror
            </a>
        </li>
    </ul>
</div>